@charset "UTF-8";

:root {
    /* default */
    --white: #fff;
    --black: #000;

    /* --primary: #00adb3; */
    /* --primary-900: #00aeb4; */
    /* --primary-800: #79ffff; */
    /* --primary-700: #b8ebeb; */
    /* --primary-100: #0d3b45; */
    /* --primary-200: #083d46; */

    /* --secondary: #ff6351; */
    /* --grey-500: #fffeff; */
    /* --grey-600: #e6e6e6; */
    /* --grey-700: #cbbfbf; */
    /* --grey-800: #4b4b4b; */
    /* --grey-900: #3e3e3e; */
    /* --pink: #f54bf9; */


    /* new-var */
    --primary: #fd4f00;
    --primary-light: #fe5000;
    --secondary: #5e1f2a;
    --grey-900: #050505;
    --grey-800: #151515;
    --grey-700: #1b1b1b;
    --grey-600: #5c5c5c;
    --grey-500: #a4a3a3;
    --grey-400: #b1b1b1;
    --grey-300: #dfd1d3;
    --grey-200: #f7f7f9;
    --grey-100: #c5c5c5;

    --font-primary: 'Poppins', sans-serif;

    --h1: clamp(34px, 4.167vw, 80px);
    --h2: clamp(30px, 2.604vw, 50px);
    --h3: clamp(22px, 1.25vw, 24px);
    --h4: clamp(18px, 1.042vw, 20px);
    --h5: clamp(16px, 0.938vw, 18px);
    --h6: clamp(16px, 0.833vw, 16px);

    --title-lg: clamp(10px, 3.125vw, 60px);
    --title-md: clamp(20px, 2.083vw, 40px);
    --title-sm: clamp(10px, 1.823vw, 35px);
    --title-xs: clamp(10px, 1.563vw, 30px);

    --text-md: clamp(18px, 1.354vw, 26px);
    --text-sm: clamp(16px, 1.042vw, 20px);
    --text-xs: clamp(16px, 0.938vw, 18px);
    --text: clamp(16px, 0.833vw, 16px);

    --btn-text: clamp(16px, 0.938vw, 18px);

    --transition: all 0.3s ease-in-out;

    --brd-20: clamp(16px, 1.042vw, 20px);
}

/* CSS Document */

/* fonts */


/* fonts */


/*==============================================================
	Common Styles Initials
==============================================================*/

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}


html {
    -webkit-text-size-adjust: none;
    /* Prevent font scaling in landscape */
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: inherit !important;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 1.875;
    color: var(--black);
    font-weight: 400;
    background: var(--white);
    width: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    scrollbar-color: var(--primary-200) var(--grey-500);
    scrollbar-width: thin;
}

body.pause {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--grey-500);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-200);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: var(--primary-200);
}

a {
    outline: none;
    text-decoration: none;
    color: var(--black);
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

.btn:focus {
    color: var(--black);
    box-shadow: none;
}

input,
textarea,
select {
    outline: none;
    resize: none;
}

a,
input,
button {
    outline: none !important;
}

button::-moz-focus-inner {
    border: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: var(--black);
}

img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0 0 15px 0;
    padding: 0;
}

p:last-of-type {
    margin-bottom: 0;
}

input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-dropdown input {
    -webkit-appearance: textfield;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/*==============================================================
	Bootstrap Hack
==============================================================*/

.form-control::-webkit-input-placeholder {
    opacity: 1;
    color: #9EA4AE;
}

.form-control:-moz-placeholder {
    opacity: 1;
    color: #9EA4AE;
}

.form-control::-moz-placeholder {
    opacity: 1;
    color: #9EA4AE;
}

.form-control:-ms-input-placeholder {
    opacity: 1;
    color: #9EA4AE;
}

input::-webkit-input-placeholder {
    opacity: 1;
}

input:-moz-placeholder {
    opacity: 1;
}

input::-moz-placeholder {
    opacity: 1;
}

input:-ms-input-placeholder {
    opacity: 1;
}

.row {
    --bs-gutter-x: 32px;
    --bs-gutter-y: 0;
}

/*==============================================================
	Custom Style
==============================================================*/

.container {
    max-width: 1630px;
    width: 100%;
    padding: 0 16px;
}

.container-lg {
    max-width: 1770px;
}

.h1 {
    font-size: var(--h1);
    line-height: 1;
}

.h2 {
    font-size: var(--h2);
    line-height: 1;
}

.h3 {
    font-size: var(--h3);
    line-height: 1.3;
}

.h4 {
    font-size: var(--h4);
    line-height: 1;
}

.h5 {
    font-size: var(--h5);
    line-height: 1;
}

.h6 {
    font-size: var(--h6);
    line-height: 1;
}

.title-lg {
    font-size: var(--title-lg);
    line-height: 1;
}

.title-md {
    font-size: var(--title-md);
    line-height: 1;
}

.title-sm {
    font-size: var(--title-sm);
    line-height: 1;
}

.title-xs {
    font-size: var(--title-xs);
    line-height: 1;
}

.text-md {
    font-size: var(--text-md);
    line-height: 1.384;
}

.text-sm {
    font-size: var(--text-sm);
    line-height: 1.5;
}

.text-xs {
    font-size: var(--text-xs);
    line-height: 2;
}

/* space */
.pt-240 {
    padding-top: clamp(55px, 12.5vw, 240px);
}

.pb-240 {
    padding-bottom: clamp(55px, 12.5vw, 240px);
}

.pt-200 {
    padding-top: clamp(50px, 10.417vw, 200px);
}

.pb-200 {
    padding-bottom: clamp(50px, 10.417vw, 200px);
}

.pt-180 {
    padding-top: clamp(45px, 9.375vw, 180px);
}

.pb-180 {
    padding-bottom: clamp(45px, 9.375vw, 180px);
}

.pt-150 {
    padding-top: clamp(35px, 7.813vw, 150px);
}

.pb-150 {
    padding-bottom: clamp(35px, 7.813vw, 150px);
}

.pt-120 {
    padding-top: clamp(30px, 6.25vw, 120px);
}

.pb-120 {
    padding-bottom: clamp(30px, 6.25vw, 120px);
}

.pt-115 {
    padding-top: clamp(30px, 5.208vw, 115px);
}

.pb-115 {
    padding-bottom: clamp(30px, 5.208vw, 115px);
}

.pt-100 {
    padding-top: clamp(30px, 5.99vw, 100px);
}

.pb-100 {
    padding-bottom: clamp(30px, 5.99vw, 100px);
}

.pt-90 {
    padding-top: clamp(30px, 4.688vw, 90px);
}

.pb-90 {
    padding-bottom: clamp(30px, 4.688vw, 90px);
}

.pt-52 {
    padding-top: clamp(25px, 2.708vw, 52px);
}

.pb-52 {
    padding-bottom: clamp(30px, 2.708vw, 52px);
}

.row-gap-30 {
    row-gap: 30px;
}

/* space */


.title-wrap {
    padding-bottom: clamp(30px, 4.167vw, 80px);
}

.title-wrap .sub-text {
    padding-top: clamp(15px, 1.875vw, 36px);
}

.img-cover {
    position: relative;
    padding-bottom: 100%;
}

.img-cover :is(img, video) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*==============================================================
	Button Style
==============================================================*/
.btn {
    font-size: var(--btn-text);
    line-height: 1;
    font-weight: 600;
    color: var(--white);
    display: inline-block;
    background: var(--secondary);
    border-radius: 10px;
    padding: 17px 30px;
    transition: var(--transition);
    box-shadow: none;
    outline: none;
    /* text-transform: uppercase; */
    border: 1px solid transparent;
}

.btn.btn-primary {
    background: var(--secondary);
}

.btn:is(:hover, :focus, :active),
.btn.btn-outline-primary {
    color: var(--secondary);
    border-color: var(--secondary);
    background: var(--white);
}

.btn.btn-outline-secondary:is(:hover, :focus, :active),
.btn.btn-secondary {
    color: var(--white);
    background: var(--primary);
}

.btn.btn-secondary:is(:hover, :focus, :active),
.btn.btn-outline-secondary {
    color: var(--primary);
    border-color: var(--primary);
    background: var(--white);
}

.btn.btn-outline-white:is(:hover, :focus, :active),
.btn.btn-white {
    color: var(--primary-light);
    background: var(--white);
}

.btn.btn-white:is(:hover, :focus, :active),
.btn.btn-outline-white {
    color: var(--white);
    border-color: var(--white);
    background: transparent;
}

.btn-link {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    column-gap: 4px;
}

.btn-link .icon {
    width: 20px;
    height: auto;
}

.btn-link:is(:hover, :focus, :active) {
    color: var(--primary);
}

/*==============================================================
	Common Css 
==============================================================*/

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
}

.contact-info ul li {
    display: inline-flex;
}

.contact-info ul li a {
    display: inline-flex;
    align-items: center;
    column-gap: 18px;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    color: var(--white);
    transition: var(--transition);
}

.contact-info ul li a span {
    display: inline-flex;
}

.contact-info ul li a .icon-box {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    color: var(--white);
    background: var(--grey-600);
    transition: var(--transition);
}

.contact-info ul li a:hover {
    color: var(--primary);
}

.contact-info ul li a:hover .icon-box {
    color: var(--white);
    background: var(--primary);
}

ul.social {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

ul.social li {
    display: inline-flex;
}

ul.social li a {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--white);
    border-radius: 100px;
    color: var(--white);
    background: transparent;
    transition: var(--transition);
}

ul.social li a:hover {
    border-color: var(--primary);
    background: var(--primary);
}

@media (max-width:1280px) {
    ul.social {
        column-gap: 10px;
    }

    ul.social li a {
        width: 32px;
        height: 32px;
    }

    ul.social li a .icon {
        width: 50%;
    }
}

.video-box {
    overflow: hidden;
    position: relative;
    padding-bottom: 60.723%;
    border-radius: clamp(16px, 1.042vw, 20px);
}

.video-box.border-2 {
    border: 4px solid var(--primary);
}

.video-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    opacity: 0.3;
}

.video-box>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-box .video-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.video-box .video-btn a {
    position: relative;
    z-index: 1;
    display: grid;
    place-items: center;
    border-radius: 100%;
    color: var(--white);
    border: 2px solid var(--white);
    background: var(--secondary);
    width: clamp(50px, 4.167vw, 80px);
    height: clamp(50px, 4.167vw, 80px);
}

.video-box .video-btn a .icon {
    width: clamp(20px, 1.302vw, 25px);
}

.swiper-arrow {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: var(--primary);
    background: var(--white);
    transition: var(--transition);
}

.swiper-arrow .icon {
    width: 12px;
    height: auto;
}

.swiper-arrow:hover {
    color: var(--white);
    background: var(--primary);
}


/* ===== header ===== */
.header-wrap {
    height: 182px;
    position: relative;
    z-index: 99;
}

.header-wrap header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: var(--transition);
}

.header-wrap.sticky header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.header-wrap .head-top {
    padding: 20px 0;
    background: var(--grey-800);
}

.header-wrap .head-top .contact-info {
    width: 100%;
    padding-right: 50px;
}

.header-wrap .head-top .contact-info ul {
    column-gap: clamp(20px, 2.604vw, 50px);
}

.header-wrap .head-top .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: inline-flex;
}

.header-wrap .logo a {
    display: inline-flex;
}

header .logo a img {
    max-width: 256px;
    height: auto;
    transition: var(--transition);
}

header .menu-toggle button {
    background: transparent;
    border: 0;
}

header .head-bottom {
    padding: 36px 0;
    display: flex;
    position: relative;
    background: var(--white);
}

header .head-bottom>div {
    display: flex;
}

header .menu>ul {
    display: flex;
    align-items: center;
    column-gap: clamp(40px, 4.167vw, 80px);
}

header .menu>ul>li {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 8px;
}

header .menu ul li a {
    font-size: 18px;
    line-height: 1.668;
    font-weight: 400;
    transition: var(--transition);
}

header .menu>ul>li.active>a,
header .menu>ul>li>a:hover {
    color: var(--secondary)
}

header .menu>ul>li.active>a {
    font-weight: 600;
}

header .menu>ul>li>.sub-menu>li a {
    display: block;
    padding: 10px 0;
}

header .menu>ul>li>.menu-arrow .icon {
    transition: var(--transition);
}

.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    opacity: 0.8;
    transition: var(--transition);
    z-index: 1;
}

.mobile-overlay:not(.active) {
    opacity: 0;
    visibility: hidden;
}

@media(min-width:1025px) {
    header .logo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 256px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    header .menu ul li:nth-child(3) {
        margin-right: auto;
    }

    header .header-menu {
        width: 100%;
    }

    .menu-toggle {
        display: none;
    }

    header .menu>ul>li>.sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 200px;
        padding: 15px 10px;
        background: var(--white);
        transition: var(--transition);
        z-index: 1;
        display: block !important;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
    }

    header .menu>ul>li:hover>.sub-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    header .menu>ul>li:hover>.menu-arrow .icon {
        transform: rotate(180deg);
    }
}

@media(min-width:1281px) {
    .header-wrap .head-top .contact-info ul li:first-child {
        margin-right: auto;
    }
}

@media(max-width:1280px) {
    .header-wrap {
        height: 142px;
    }

    .header-wrap .head-top {
        padding: 10px 0;
    }

    .contact-info ul li a span {
        display: none;
    }

    header .contact-info ul li a .icon-box {
        width: 32px;
        height: 32px;
    }

    header .contact-info ul li a .icon-box .icon {
        width: 50%;
    }

    header .menu ul {
        column-gap: 25px;
    }

    header .head-bottom {
        padding: 30px 0;
    }

    .header-wrap .head-top .contact-info ul {
        column-gap: 15px;
    }
}

@media(max-width:1024px) {
    .header-wrap {
        height: 137px;
    }

    header .head-bottom {
        padding: 20px 0;
    }

    header .head-bottom>div {
        align-items: center;
        justify-content: space-between;
    }

    header .logo a img {
        max-width: 180px;
    }

    header .header-menu {
        position: fixed;
        top: 0;
        right: -320px;
        width: 320px;
        height: 100%;
        padding: 60px 15px 20px;
        background: var(--white);
        transition: var(--transition);
        z-index: 99;
    }

    header .header-menu.active {
        right: 0px;
    }

    header .header-menu .menu-toggle {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        background: var(--white);
        padding: 15px 15px 14px;
        display: flex;
    }

    header .header-menu .menu-toggle button {
        display: inline-flex;
    }

    header .menu {
        height: 100%;
        overflow: auto;
    }

    header .menu>ul {
        flex-direction: column;
        column-gap: 0;
        align-items: flex-start;
    }

    header .menu>ul>li {
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    header .menu ul li a {
        display: block;
        font-size: 16px;
        width: 100%;
        padding: 14px 0;
    }

    header .menu .menu-arrow {
        cursor: pointer;
        width: 44px;
        height: 44px;
        display: grid;
        place-items: center;
        position: absolute;
        top: 0;
        right: 0;
    }

    header .menu .menu-arrow.active .icon {
        transform: rotate(180deg);
    }

    header .menu>ul>li>.sub-menu {
        width: 100%;
        padding: 0 15px;
        display: none;
    }

    header .menu>ul>li>.sub-menu>li {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    header .menu>ul>li>.sub-menu>li a {
        padding: 15px 0;
    }

}

@media(max-width:767px) {
    .header-wrap .head-top {
        padding: 8px 0;
    }

    .header-wrap .head-top .contact-info {
        padding-right: 15px;
    }

    .header-wrap .head-top .contact-info ul {
        column-gap: 10px;
    }
}

/* ===== header ===== */

/* ===== banner ===== */
.banner {
    overflow: hidden;
    background: var(--secondary) url("../images/hero-bg.webp") no-repeat center / cover;
}

.banner .column-wrap {
    display: flex;
}

.banner .hero-bottom {
    position: absolute;
    left: 0;
    bottom: -42px;
    right: 0px;
    margin-left: -100px;
}

.banner .column-wrap .col-left {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    position: relative;
    padding: 120px 30px 203px 0;
}

.banner .column-wrap .col-right {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: flex-end;
    padding-top: 100px;
}

.banner .banner-img {
    margin-right: -161px;
}

.banner .banner-info {
    max-width: 670px;
}

.banner .banner-info .banner-title {
    line-height: 1.2;
    font-weight: 700;
    color: var(--white);
    padding-bottom: 30px;
    margin: 0;
}

.banner .banner-info p {
    color: var(--white);
}

.banner .btn-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: clamp(20px, 3.125vw, 60px);
}

.banner .search-box {
    max-width: 510px;
    padding-top: clamp(15px, 2.604vw, 50px);
}

.banner .search-box .input-box {
    display: flex;
    column-gap: 10px;
}

.banner .search-box .input-box input[type="text"] {
    width: 100%;
    font-size: 18px;
    line-height: 1;
    color: var(--white);
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--white);
    padding: 5px 20px;
    background: transparent;
}

.banner .search-box .input-box input[type="text"] {
    height: 50px;
    padding: 5px 20px;
    flex-shrink: 0;
}


.banner .search-box .input-box input[type="text"]::-webkit-input-placeholder {
    opacity: 1;
    color: var(--white);
}

.banner .search-box .input-box input[type="text"]:-moz-placeholder {
    opacity: 1;
    color: var(--white);
}

.banner .search-box .input-box input[type="text"]::-moz-placeholder {
    opacity: 1;
    color: var(--white);
}

.banner .search-box .input-box input[type="text"]:-ms-input-placeholder {
    opacity: 1;
    color: var(--white);
}

/* ===== banner ===== */

/* ===== home-about ===== */

.home-about {
    display: flex;
    flex-direction: column;
    row-gap: clamp(35px, 4.479vw, 86px);
}

.home-about .inner-section {
    display: flex;
    flex-direction: column;
}

.home-about .content-box .title-wrap {
    padding-bottom: clamp(15px, 1.979vw, 38px);
}

.home-about .content-box .btn-wrap {
    padding-top: clamp(20px, 3.125vw, 60px);
}

/* ===== home-about ===== */

/* ===== home-choose-us ===== */
.choose-box h3 {
    padding-bottom: clamp(10px, 0.781vw, 15px);
}

.choose-box {
    height: 100%;
    text-align: center;
    border-radius: 20px;
    padding: clamp(20px, 1.719vw, 33px) clamp(20px, 1.563vw, 30px) clamp(20px, 1.719vw, 33px);
    background: var(--white);
    border: 1px solid var(--primary);
    box-shadow: 3px 0px 16px rgba(0, 0, 0, .1);
}

.home-choose-us {
    background: no-repeat center bottom / contain;
}

.home-choose-us .title-wap {
    max-width: 660px;
    padding-bottom: clamp(20px, 2.5vw, 48px);
}

.home-choose-us .title-wap h2 {
    padding-bottom: clamp(20px, 1.979vw, 38px);
}


.home-choose-us .choose-us-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -9px;
    row-gap: 18px;
}

.home-choose-us .choose-us-list ul li {
    width: 33.333%;
    padding: 0 9px;
}

.home-choose-us .btn-wrap {
    padding-top: clamp(25px, 3.021vw, 58px);
}

/* ===== home-choose-us ===== */
/* ===== home-service ===== */
.service-box {
    height: 100%;
    overflow: hidden;
    background: var(--secondary);
    border-radius: clamp(15px, 1.042vw, 20px);
}

.service-box .img-cover {
    padding-bottom: 59.12%;
}

.service-box .info {
    text-align: center;
    padding: 33px 50px 36px;
}

.service-box .info h3 {
    padding-bottom: 30px;
    color: var(--white);
}

.service-box .info .icon {
    padding-bottom: 17px;
}

.service-box .info p {
    color: var(--white);
}

.home-service {
    background: var(--grey-300);
}

.home-service .service-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -34px;
    row-gap: 30px;
}

.home-service .service-list ul li {
    width: 25%;
    padding: 0 34px;
}

.home-service .btn-wrap {
    column-gap: clamp(20px, 1.354vw, 26px);
    row-gap: 15px;
}

/* ===== home-service ===== */

/* ===== home-team ===== */
.team-box {
    height: 100%;
    overflow: hidden;
    position: relative;
    background: var(--secondary);
    border-radius: clamp(16px, 1.042vw, 20px);
}

.team-box .team-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(20px, 1.667vw, 32px) clamp(20px, 2.396vw, 46px) clamp(20px, 1.563vw, 30px);
}

.team-box .img-cover {
    padding-bottom: 93.73%;
}

.team-box .team-info .name {
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.team-box .team-info .name h3 {
    color: var(--white);
    margin-bottom: -8px;
}

.team-box ul.social {
    column-gap: 10px;
}

.team-box .title-box {
    width: 100%;
    height: 100%;
    color: var(--white);
    background: var(--secondary);
    padding: clamp(30px, 5.208vw, 100px) clamp(15px, 2.448vw, 47px);
    transition: all 0.5s ease-in-out;

}

.team-box .title-box h3 {
    color: var(--white);
    padding-bottom: clamp(15px, 1.354vw, 26px);
}

.team-box .title-box .btn-wrap {
    padding-top: clamp(20px, 3.021vw, 58px);
}

.home-team .team-list>ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -17px;
    row-gap: 48px;
}

.home-team .team-list>ul>li {
    width: 33.333%;
    padding: 0 17px;
}

/* ===== home-team ===== */

/* ===== home-gallery ===== */
.home-gallery {
    background: var(--grey-200);
}

.home-gallery .title-wrap {
    max-width: 925px;
    margin: 0 auto;
}

.home-gallery .btn-wrap {
    padding-top: clamp(25px, 3.125vw, 60px);
}

/* ===== home-gallery ===== */

.bg-wrap {
    background: no-repeat center / contain;
}

/* ===== home-faq ===== */
.home-faq h2 {
    padding-bottom: clamp(25px, 2.5vw, 48px);
}

.home-faq .accordion {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    counter-reset: faqCount;
}

.home-faq .accordion .accordion-item {
    border-radius: 10px;
    background: var(--grey-200);
    border: 0;
    counter-increment: faqCount;
}

.home-faq .accordion .accordion-item .accordion-header {
    padding: 0;
}

.home-faq .accordion .accordion-item .accordion-header button {
    font-size: 22px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--secondary);
    width: 100%;
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 12px 55px 16px 40px;
    position: relative;
    text-align: left;
}

.home-faq .accordion .accordion-item .accordion-header button::before {
    content: counter(faqCount) ". ";
    font-size: 22px;
    line-height: 1.3;
    font-weight: 700;
    color: var(--primary);
    position: absolute;
    top: 12px;
    left: 19px;
}

.home-faq .accordion .accordion-item .accordion-header button .icon-box {
    position: absolute;
    top: 13px;
    right: 20px;
    color: var(--primary);
}

.home-faq .accordion .accordion-item .accordion-header button .icon-box .icon {
    width: 35px;
    height: auto;
    transition: var(--transition);
}

.home-faq .accordion .accordion-item .accordion-header button:not(.collapsed) .icon-box .icon {
    transform: rotate(180deg);
}

.home-faq .accordion .accordion-item .accordion-body {
    padding: 20px 20px 45px 20px;
}

.home-faq .btn-wrap {
    padding-top: clamp(25px, 3.125vw, 60px);
}

/* ===== home-faq ===== */

/* ===== home-testimonial ===== */
.testimonial-box {
    margin: 10px 0;
    padding: clamp(25px, 3.646vw, 70px) clamp(20px, 3.906vw, 75px) clamp(25px, 1.563vw, 30px);
    border: 1px solid var(--primary);
    background: var(--white);
    border-radius: clamp(16px, 1.042vw, 20px);
    box-shadow: 10px 0 16px rgba(0, 0, 0, 0.1);
}

.testimonial-box p {
    font-size: clamp(18px, 1.25vw, 24px);
    line-height: 1.416;
    font-weight: 500;
    color: var(--grey-800);
    font-style: italic;
}

.testimonial-box .box-top {
    border-bottom: 1px solid var(--grey-100);
    padding-bottom: clamp(20px, 3.229vw, 62px);
}

.testimonial-box .author {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding-top: clamp(20px, 1.563vw, 30px);
}

.testimonial-box .author .author-name {
    font-size: clamp(18px, 1.458vw, 28px);
    font-weight: 700;
    margin-right: auto;
    padding-left: clamp(20px, 1.667vw, 32px);
}

.testimonial-box .author .author-img {
    overflow: hidden;
    border-radius: 100%;
    width: clamp(60px, 4.167vw, 80px);
    height: clamp(60px, 4.167vw, 80px);
}

.testimonial-box .author .author-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-box .author .author-name::before {
    content: "—";
}

.testimonial-box .author .icon {
    position: absolute;
    top: 29px;
    right: 0;
    color: var(--primary);
    opacity: 0.3;
}

.testimonial-box.stl-1 {
    padding: 42px 35px;
    box-shadow: none;
    margin: 0;
}

.testimonial-box.stl-1 .name-rating {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: 30px;
    padding-bottom: 22px;
}

.testimonial-box.stl-1 .name-rating>div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.testimonial-box.stl-1 .name-rating .name {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: var(--black);
}

.testimonial-box.stl-1 .name-rating .designation {
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    color: var(--primary);
}

.testimonial-box.stl-1 p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    font-style: normal;
}

.testimonial-box.stl-1 .rating>ul {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.home-testimonial .title-wrap h2 {
    text-transform: uppercase;
}

.home-testimonial .slider-wrap {
    position: relative;
}

.home-testimonial .slider-wrap .swiper-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 1;
    box-shadow: 3px 0 16px rgba(0, 0, 0, .1);

}

.home-testimonial .slider-wrap .swiper-arrow.next {
    right: -20px;
}

.home-testimonial .slider-wrap .swiper-arrow.prev {
    left: -20px;
}

.home-testimonial .btn-wrap {
    padding-top: clamp(30px, 4.167vw, 80px);
}

/* ===== home-testimonial ===== */

/* ===== home-blog ===== */
.home-blog-box {
    position: relative;
    overflow: hidden;
    border-radius: clamp(16px, 1.042vw, 20px);
}

.home-blog-box .blog-img {
    width: 100%;
}

.home-blog-box .blog-img img {
    width: 100%;
}

.home-blog-box .blog-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(21, 21, 21, 0.8);
    padding: 32px 30px;
}

.home-blog-box .blog-info .category {
    line-height: 1;
    color: var(--primary);
    padding-bottom: 10px;
}

.home-blog-box .blog-info h3 {
    font-size: 22px;
    line-height: 1.363;
    font-weight: 600;
    color: var(--white);
}

.home-blog-box .blog-info .link-wrap {
    padding-top: 24px;
}

.home-blog-box .blog-info .btn-link {
    color: var(--white);
    text-decoration: none;
}

.home-blog-box .blog-info .btn-link:is(:hover, :active, :focus) {
    color: var(--primary);
}

.home-blog-box .blog-info h3 a {
    color: currentColor;
}

.home-blog .content-box h2 {
    padding-bottom: 26px;
}

.home-blog .content-box .btn-wrap {
    padding-top: clamp(30px, 3.125vw, 60px);
}

.home-blog .blog-list>ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -24px;
    row-gap: 30px;
}

.home-blog .blog-list>ul>li {
    width: 50%;
    padding: 0 24px;
}

/* ===== home-blog ===== */

/* ===== newsletter-wrap ===== */
.newsletter-wrap .newsletter-box {
    border-radius: clamp(15px, 1.042vw, 20px);
    background: var(--secondary) no-repeat center / cover;
}

.newsletter-wrap .newsletter-box .img-box {
    padding-top: 46px;
}

.newsletter-wrap .content-box {
    height: 100%;
}

.newsletter-wrap .content-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px clamp(15px, 5.469vw, 105px) 30px;
}

.newsletter-wrap .content-box h2 {
    color: var(--white);
    padding-bottom: 24px;
}

.newsletter-wrap .content-box p {
    color: var(--white);
}

.newsletter-wrap .newsletter {
    max-width: 478px;
    padding-top: clamp(30px, 2.5vw, 48px);
}

.newsletter-wrap .newsletter .form-row {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.newsletter-wrap .newsletter .btn-wrap {
    padding-top: 10px;
}

.newsletter-wrap .newsletter .input-box .form-control {
    font-size: 18px;
    line-height: 1;
    height: 50px;
    border-radius: 10px;
    padding: 5px 20px;
    box-shadow: none;
    outline: none;
    border: 0;
}

.newsletter-wrap .newsletter .input-box .form-control::-webkit-input-placeholder {
    color: var(--grey-500);
}

.newsletter-wrap .newsletter .input-box .form-control:-moz-placeholder {
    color: var(--grey-500);
}

.newsletter-wrap .newsletter .input-box .form-control::-moz-placeholder {
    color: var(--grey-500);
}

.newsletter-wrap .newsletter .input-box .form-control:-ms-input-placeholder {
    color: var(--grey-500);
}

/* ===== newsletter-wrap ===== */

/* ===== banner-cta ===== */
.banner-cta {
    background: var(--primary);
    padding: clamp(35px, 6.563vw, 126px) 0;
}

.banner-cta h2 {
    color: var(--white);
}

.banner-cta .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    justify-content: space-between;
}

/* ===== banner-cta ===== */

/* ===== footer ===== */
.footer-wrap {
    background: var(--grey-800);
}

footer .block.about {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

footer .block.about .contact-info ul {
    flex-direction: column;
    row-gap: 20px;
}

footer .footer-top {
    position: relative;
    padding: clamp(35px, 4.688vw, 90px) 0 clamp(35px, 4.167vw, 80px);
}

footer .footer-top .footer-img {
    width: 250px;
    position: absolute;
    right: 0;
    bottom: 0;
}

footer .footer-top .footer-img img {
    width: 100%;
}

footer .footer-bottom .copyrights {
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
    padding: 30px 0;
    border-top: 1px solid var(--white);
}

footer .footer-bottom .copyrights a {
    color: currentColor;
    transition: var(--transition);
}

footer .footer-bottom .copyrights a:hover {
    color: var(--primary);
}

footer .footer-bottom p {
    margin: 0;
}

footer .block h3 {
    color: var(--primary);
    padding-bottom: clamp(15px, 1.927vw, 37px);
}

footer .footer-menu {
    max-width: 290px;
    display: inline-flex;
    flex-wrap: wrap;
    row-gap: 0;
    color: var(--primary);
    padding-bottom: clamp(15px, 2.708vw, 52px);
}

footer .footer-menu li {
    width: 50%;
}

footer .footer-menu li a {
    color: var(--white);
}

@media(max-width:575px) {
    footer .footer-top .footer-img {
        position: static;
        margin: 0 auto -35px;
    }
}

/* ===== footer ===== */

/* ===== gallery ===== */
.fancybox__caption {
    display: none;
}

.gallery-popup {
    width: calc(100% - 40px);
    max-width: 990px;
    padding: clamp(30px, 3.646vw, 70px) clamp(30px, 2.604vw, 50px) clamp(25px, 2.604vw, 50px);
    border: 1px solid var(--primary);
    border-radius: clamp(10px, 1.563vw, 30px);
}

.gallery-popup .content-box .img-box {
    position: relative;
    padding-bottom: 66%;
}

.gallery-popup .content-box .img-box img {
    border-radius: 14px;
}

.gallery-popup .content-box .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-popup .content-box .img-box button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 20px;
    height: 30px;
    color: var(--primary);
    background: transparent;
    border: 0;
}

.gallery-popup .content-box .bottom-box {
    padding: 30px 0 0;
    text-align: center;
}

.gallery-popup .content-box .bottom-box .title {
    padding-bottom: clamp(15px, 2.083vw, 40px);
}

.gallery-popup .content-box .img-box button.prev {
    left: -28px;
}

.gallery-popup .content-box .img-box button.next {
    right: -28px;
}

.gallery-popup .carousel__button.is-close {
    top: clamp(8px, 0.781vw, 15px);
    right: clamp(8px, 0.781vw, 15px);
    width: 24px;
    height: 24px;
    border-radius: 100px;
    color: var(--white);
    padding: 5px;
    background: var(--black);
}

.gallery .grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -13px;
}

.gallery .grid-sizer,
.gallery .grid-item {
    width: 33.3333%;
    padding: 0 13px;
}

.gallery .grid .grid-item {
    display: flex;
    margin-bottom: 26px;
}

.gallery .grid .grid-item button {
    border: 0;
    width: 100%;
    overflow: hidden;
    background: transparent;
    border-radius: clamp(10px, 1.042vw, 20px);
}

.gallery .grid .grid-item button img {
    width: 100%;
}

.gallery-wrap .title-wrap {
    max-width: 925px;
    margin: 0 auto;
}

/* ===== gallery ===== */

/* ===== contact-wrap ===== */
.contact-wrap .content-box h2 {
    padding-bottom: clamp(25px, 2.604vw, 50px);
}

.contact-wrap .content-box .contact-info {
    padding-top: clamp(25px, 2.604vw, 50px);
}

.contact-wrap .contact-info ul {
    flex-direction: column;
    row-gap: clamp(20px, 1.563vw, 30px);
}

.contact-wrap .contact-info ul li a {
    font-weight: 400;
    color: var(--grey-700);
}

.contact-wrap .contact-info ul li a span {
    display: inline-block;
}

.contact-wrap .contact-info ul li a .icon-box {
    background: var(--primary);
}

/* ===== contact-wrap ===== */

/* ===== faq-wrap ===== */
.faq-wrap .container {
    max-width: 1015px;
}

.faq-wrap .accordion {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    counter-reset: faqCount;
    margin: 0 auto;
}

.faq-wrap .accordion .accordion-item {
    border-radius: 10px;
    background: transparent;
    border: 0;
    counter-increment: faqCount;
}

.faq-wrap .accordion .accordion-item .accordion-header {
    padding: 0;
}

.faq-wrap .accordion .accordion-item .accordion-header button {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--grey-900);
    width: 100%;
    background: transparent;
    border: 0;
    padding: 24px 55px 24px 35px;
    position: relative;
    text-align: left;
    border-radius: 15px;
    border: 1px solid var(--primary);
}

.faq-wrap .accordion .accordion-item .accordion-header button::before {
    content: "Question Sample" counter(faqCount) ": ";
    margin-right: 5px;
}

.faq-wrap .accordion .accordion-item .accordion-header button .icon-box {
    position: absolute;
    top: 23px;
    right: 25px;
    color: var(--primary);
}

.faq-wrap .accordion .accordion-item .accordion-header button .icon-box .icon {
    width: 24px;
    height: auto;
    transition: var(--transition);
}

.faq-wrap .accordion .accordion-item .accordion-header button:not(.collapsed) .icon-box .icon {
    transform: rotate(180deg);
}

.faq-wrap .accordion .accordion-item .accordion-body {
    padding: 18px 20px 0px 30px;
    color: var(--black);
}

.faq-wrap .btn-wrap {
    padding-top: clamp(25px, 3.125vw, 60px);
}

.faq-wrap .start-chat h3 {
    padding-bottom: 15px;
}

.faq-wrap .start-chat p {
    color: var(--black);
}

.faq-wrap .start-chat .btn-wrap {
    padding-top: 24px;
}

/* ===== faq-wrap ===== */

/* ===== testimonial-wrap ===== */
.testimonial-wrap .title-wrap {
    max-width: 950px;
    margin: 0 auto;
}

.testimonial-wrap .title-wrap h2 {
    display: inline-block;
    padding: 0 75px;
    position: relative;
}

.testimonial-wrap .title-wrap h2::after,
.testimonial-wrap .title-wrap h2::before {
    content: "";
    position: absolute;
    width: 52px;
    height: 40px;
    background: red;
}

.testimonial-wrap .title-wrap h2::after {
    top: -15px;
    left: 0;
    background: url("../images/icons/quote-left-icon.svg") no-repeat center;
}

.testimonial-wrap .title-wrap h2::before {
    right: 0;
    bottom: -15px;
    background: url("../images/icons/quote-right-icon.svg") no-repeat center;
}

.testimonial-wrap .testimonial-list>ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -9px;
    row-gap: 18px;
}

.testimonial-wrap .testimonial-list>ul>li {
    width: 33.333%;
    padding: 0 9px;
}

/* ===== testimonial-wrap ===== */

/* ===== blog and blog single ===== */
.blog-inner {
    padding: 58px 0 clamp(120px, 11.458vw, 220px);
}

.blog-inner .banner-info {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.blog-inner .banner-info .date {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--primary);
    padding-bottom: 15px;
}

.blog-inner .banner-info .banner-title {
    font-size: clamp(30px, 3.125vw, 60px);
    padding-bottom: 20px;
}

.blog-inner .banner-info .author {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    margin: 0 auto;
    padding-top: 25px;
}

.blog-inner .banner-info .author .author-img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
}

.blog-inner .banner-info .author .author-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-inner .banner-info .author .author-name {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: #dadada;
    text-align: left;
}

.blog-inner .banner-info .author .author-name .name {
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
}

.blog-inner .banner-info .author .author-name .designation {
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
}

.blog-single .blog-image {
    overflow: hidden;
    border-radius: 18px;
    padding-bottom: 34.419%;
    min-height: 260px;
    margin-top: clamp(-70px, -8.854vw, -170px);
}

.blog-content-box {
    max-width: 1199px;
    margin: 0 auto;
}

.blog-content-box:is(p, li) {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 16px;
}

.blog-content-box img {
    width: 100%;
    margin: 30px 0;
    border-radius: 18px;
    overflow: hidden;
}

.blog-content-box :is(h1, h2, h3, h4, h5, h6, ul, ol) {
    margin: 25px 0;
}

.blog-content-box :is(p, img, h1, h2, h3, h4, h5, h6, ol, ul):first-child {
    padding-top: 0;
    margin-top: 0;
}

.blog-content-box :is(p, img, h1, h2, h3, h4, h5, h6, ol, ul):last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.blog-content-box :is(p, h1, h2, h3, h4, h5, h6, ol, ul)+img {
    margin-top: 20px;
}

.blog-content-box img+ :is(h1, h2, h3, h4, h5, h6, ol, ul) {
    margin-top: 0;
}

.blog-box {
    overflow: hidden;
    border-radius: 20px;
}

.blog-box .blog-img {
    display: flex;
    padding-bottom: 52%;
}

.blog-box .blog-info {
    padding: 30px 35px;
    border-radius: 0 0 20px 20px;
    border: 1px solid var(--primary);
    border-top: 0;
}

.blog-box .blog-info .date {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: var(--primary);
    padding-bottom: 10px;
}

.blog-box .blog-info h3 {
    padding-bottom: 5px;
}

.blog-box .blog-info h3 a {
    display: inline-block;
    color: currentColor;
    transition: var(--transition);
}

.blog-box .blog-info h3 a:hover {
    color: var(--primary);
}

.blog-box .blog-info .link-wrap {
    padding-top: 20px;
}

.blog-box .blog-info .link-wrap a {
    display: inline-block;
    line-height: 1;
    color: var(--primary);
    text-decoration: underline;
}

.related-blog {
    overflow: hidden;
}

.related-blog .blog-list>ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -33px;
    row-gap: 30px;
}

.related-blog .blog-list>ul>li {
    width: 33.333%;
    padding: 0 33px;
}

.popular-blog h2 {
    padding-bottom: clamp(15px, 2.604vw, 50px);
}

.popular-blog ul {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}

.popular-blog .blog-box:not(.small) .blog-img {
    padding-bottom: 41%;
}

/* ===== blog and blog single ===== */

/* ===== about ===== */
.value-box {
    display: grid;
    place-items: center;
    text-align: center;
    height: 100%;
    border-radius: 15px;
    background: var(--grey-200);
    padding: clamp(25px, 4.792vw, 92px) clamp(20px, 2.5vw, 48px) clamp(25px, 3.75vw, 72px);
}

.value-box h3 {
    padding-bottom: clamp(20px, 1.823vw, 35px);
}

.value-box.title-box {
    background: var(--secondary);
}

.value-box.title-box h2 {
    color: var(--white);
}

.about-value .row {
    row-gap: 30px;
}

.about-choose .title-wrap {
    max-width: 725px;
    margin: 0 auto;
}

.about-choose .choose-list ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
    row-gap: 24px;
}

.about-choose .choose-list ul li {
    width: 33.333%;
    padding: 0 12px;
}

.about-choose-box {
    padding: clamp(20px, 1.979vw, 38px);
    border-radius: var(--brd-20);
    background: var(--grey-200);
}

.about-choose-box .icon-box {
    width: clamp(60px, 4.688vw, 90px);
    height: clamp(60px, 4.688vw, 90px);
    margin-bottom: clamp(20px, 2.604vw, 50px);
}

.about-choose-box h3 {
    color: var(--primary);
    padding-bottom: clamp(15px, 2.083vw, 40px);
}

/* ===== about ===== */