@charset "UTF-8";

:root {
    /* default */
    --white: #fff;
    --black: #000;

    /* --primary: #00adb3; */
    /* --primary-900: #00aeb4; */
    /* --primary-800: #79ffff; */
    /* --primary-700: #b8ebeb; */
    /* --primary-100: #0d3b45; */
    /* --primary-200: #083d46; */

    /* --secondary: #ff6351; */
    /* --grey-500: #fffeff; */
    /* --grey-600: #e6e6e6; */
    /* --grey-700: #cbbfbf; */
    /* --grey-800: #4b4b4b; */
    /* --grey-900: #3e3e3e; */
    /* --pink: #f54bf9; */


    /* new-var */
    --primary: #fd4f00;
    --primary-light: #fe5000;
    --secondary: #5e1f2a;
    --grey-900: #050505;
    --grey-800: #151515;
    --grey-700: #1b1b1b;
    --grey-600: #a4a3a3;
    --grey-500: #b1b1b1;
    --grey-400: #dfd1d3;
    --grey-300: #f7f7f9;

    --font-primary: 'Poppins', sans-serif;

    --h1: clamp(10px, 4.167vw, 80px);
    --h2: clamp(10px, 2.604vw, 50px);
    --h3: clamp(10px, 1.25vw, 24px);
    --h4: clamp(10px, 1.042vw, 20px);
    --h5: clamp(10px, 0.938vw, 18px);
    --h6: clamp(10px, 0.833vw, 16px);

    --title-lg: clamp(10px, 3.125vw, 60px);
    --title-md: clamp(10px, 2.083vw, 40px);
    --title-sm: clamp(10px, 1.823vw, 35px);
    --title-xs: clamp(10px, 1.563vw, 30px);

    --text-md: clamp(20px, 1.354vw, 26px);
    --text-sm: clamp(18px, 1.042vw, 20px);
    --text-xs: clamp(16px, 0.938vw, 18px);
    --text: clamp(16px, 0.833vw, 16px);

    --btn-text: clamp(16px, 0.938vw, 18px);

    --transition: all 0.3s ease-in-out;
}

/* CSS Document */

/* fonts */


/* fonts */


/*==============================================================
	Common Styles Initials
==============================================================*/

html {
    -webkit-text-size-adjust: none;
    /* Prevent font scaling in landscape */
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: inherit !important;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 1.875;
    color: var(--black);
    font-weight: 400;
    background: var(--white);
    width: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    scrollbar-color: var(--primary-200) var(--grey-500);
    scrollbar-width: thin;
}

body.pause {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--grey-500);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-200);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: var(--primary-200);
}

a {
    outline: none;
    text-decoration: none;
    color: var(--black);
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

.btn:focus {
    color: var(--black);
    box-shadow: none;
}

input,
textarea,
select {
    outline: none;
    resize: none;
}

a,
input,
button {
    outline: none !important;
}

button::-moz-focus-inner {
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: var(--black);
}

img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0 0 15px 0;
    padding: 0;
}

p:last-of-type {
    margin-bottom: 0;
}

input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-dropdown input {
    -webkit-appearance: textfield;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/*==============================================================
	Bootstrap Hack
==============================================================*/

.form-control::-webkit-input-placeholder {
    opacity: 1;
    color: #9EA4AE;
}

.form-control:-moz-placeholder {
    opacity: 1;
    color: #9EA4AE;
}

.form-control::-moz-placeholder {
    opacity: 1;
    color: #9EA4AE;
}

.form-control:-ms-input-placeholder {
    opacity: 1;
    color: #9EA4AE;
}

input::-webkit-input-placeholder {
    opacity: 1;
}

input:-moz-placeholder {
    opacity: 1;
}

input::-moz-placeholder {
    opacity: 1;
}

input:-ms-input-placeholder {
    opacity: 1;
}

.row {
    --bs-gutter-x: 32px;
    --bs-gutter-y: 0;
}

/*==============================================================
	Custom Style
==============================================================*/

.container {
    max-width: 1630px;
    width: 100%;
    padding: 0 16px;
}

.container-lg {
    max-width: 1770px;
}

.h1 {
    font-size: var(--h1);
    line-height: 1;
}

.h2 {
    font-size: var(--h2);
    line-height: 1;
}

.h3 {
    font-size: var(--h3);
    line-height: 1.3;
}

.h4 {
    font-size: var(--h4);
    line-height: 1;
}

.h5 {
    font-size: var(--h5);
    line-height: 1;
}

.h6 {
    font-size: var(--h6);
    line-height: 1;
}

.title-lg {
    font-size: var(--title-lg);
    line-height: 1;
}

.title-md {
    font-size: var(--title-md);
    line-height: 1;
}

.title-sm {
    font-size: var(--title-sm);
    line-height: 1;
}

.title-xs {
    font-size: var(--title-xs);
    line-height: 1;
}

.text-md {
    font-size: var(--text-md);
    line-height: 1.384;
}

.text-sm {
    font-size: var(--text-sm);
    line-height: 1.5;
}

.text-xs {
    font-size: var(--text-xs);
    line-height: 2;
}

/* space */
.pt-200 {
    padding-top: clamp(60px, 10.417vw, 200px);
}

.pb-200 {
    padding-bottom: clamp(60px, 10.417vw, 200px);
}

.pt-180 {
    padding-top: clamp(50px, 9.375vw, 180px);
}

.pb-180 {
    padding-bottom: clamp(50px, 9.375vw, 180px);
}

.pt-115 {
    padding-top: clamp(40px, 5.99vw, 115px);
}

.pb-115 {
    padding-bottom: clamp(40px, 5.99vw, 115px);
}

.pt-90 {
    padding-top: clamp(35px, 4.688vw, 90px);
}

.pb-90 {
    padding-bottom: clamp(35px, 4.688vw, 90px);
}

/* space */

/*==============================================================
	Button Style
==============================================================*/
.btn {
    font-size: var(--btn-text);
    line-height: 1;
    font-weight: 600;
    color: var(--white);
    display: inline-block;
    background: var(--secondary);
    border-radius: 10px;
    padding: 17px 26px;
    transition: var(--transition);
    box-shadow: none;
    outline: none;
    text-transform: uppercase;
    border: 1px solid transparent;
}

.btn.btn-primary {
    background: var(--secondary);
}

.btn:is(:hover, :focus, :active),
.btn.btn-outline-primary {
    color: var(--secondary);
    border-color: var(--secondary);
    background: var(--white);
}

.btn.btn-outline-secondary:is(:hover, :focus, :active),
.btn.btn-secondary {
    color: var(--white);
    background: var(--primary);
}

.btn.btn-secondary:is(:hover, :focus, :active),
.btn.btn-outline-secondary {
    color: var(--primary);
    border-color: var(--primary);
    background: var(--white);
}

.btn.btn-outline-white:is(:hover, :focus, :active),
.btn.btn-white {
    color: var(--primary-light);
    background: var(--white);
}

.btn.btn-white:is(:hover, :focus, :active),
.btn.btn-outline-white {
    color: var(--white);
    border-color: var(--white);
    background: transparent;
}

/*==============================================================
	Common Css 
==============================================================*/




/* ===== header ===== */